# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/

# User specific data
macro_screenshots/

# Virtual environment
venv/
env/
.venv/

# IDE files
.vscode/
.idea/

# Tests and images
tests/
*.jpg
